<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @post.name %>
</p>

<p>
  <b>Titulo:</b>
  <%= @post.title %>
</p>

<p>
  <b>Contenido:</b>
  <%= @post.content %>
</p>

<h2>Comentarios</h2>
<%= render @post.comments %>


<h2>Añadir un comentario:</h2>
<%= simple_form_for ([@post, @post.comments.build]) do |f| %>
  <div class="field">
 <!--   <%= f.label :Autor %><br />
    <%= f.text_field :commenter %> -->
    <%= f.input :commenter, :label => 'Autor' %>
  </div>
  <div class="field">
 <!--   <%= f.label :Comentario %><br />
    <%= f.text_area :body %><br /> -->
    <%= f.input :body, as: :text, :label => 'Comentario' %>
  </div>
  <div class="actions">
  <!--  <%= f.submit %> -->
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Volver', posts_path %>
